.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .menu-sign {
    color: black;
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5em;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin: 10px 0;
  
        a {
          text-decoration: none;
          color: black;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  